{:aliases {:dev {:extra-paths ["development/src"]
                 :extra-deps {}}
           :test {:extra-paths []
                  :extra-deps {polylith-kaocha/kaocha-wrapper
                               {:git/url "https://github.com/imrekoszo/polylith-kaocha"
                                :git/tag "v0.8.2"
                                :git/sha "d1fcd40"
                                :deps/root "projects/kaocha-wrapper"}
                               org.clojure/test.check {:mvn/version "1.1.1"}}}
           
           :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                  :extra-deps {polylith/clj-poly {:git/url "https://github.com/polyfy/polylith"
                                                  :git/sha "ccc261e60f6a875ff30858bf84cf67be105eac6f"
                                                  :deps/root "projects/poly"}
           
                               polylith-kaocha/test-runner {:git/url "https://github.com/imrekoszo/polylith-kaocha"
                                                            :git/tag "v0.8.2"
                                                            :git/sha "d1fcd40"
                                                            :deps/root "projects/test-runner"}}}}}